
body {
    font-family: 'PT Serif', serif;
    background-color: #000;
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: #1a1a1a;
}

.nav-link {
    color: #d3d3d3;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #6a7075;
}

.navbar-brand {
    color: #e0e0e0;
    font-weight: bold;
}

.navbar-toggler {
    border-color: #6a7075;
}


.card {
    background-color: #1c1c1c;
    color: lightgray;
    border: 1px solid #2a2a2a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.9);
}

.card-img-top {
    border-bottom: 1px solid #2a2a2a;
}


footer {
    background-color: #060607;
    color: #6a7075;
    padding: 20px 0;
}

.btn-link {
    color: #6a7075;
    transition: color 0.3s ease;
}

.btn-link:hover {
    color: lightgray;
}


p {
    color: gray;
    margin-bottom: 10px;
    line-height: 1.6;
}

h1 {
    color: lightgray;
    border-bottom: 2px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#facts-list {
    color: gray;
    list-style-type: disc;
    padding-left: 20px;
}


img {
    max-height: 80vh;
    width: 100%;
    object-fit: cover;
    border: 5px solid rgb(73, 68, 68);
}


.btn-floating {
    transition: transform 0.3s, color 0.3s;
}

.btn-floating:hover {
    transform: scale(1.2);
    color: lightgray;
}

.card {
    width: 18rem;
}